/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F3F5FC; /* Fondo gris */
}

/* Header */
header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
}

/* Main */
main {
    display: flex;
    flex-direction: row; /* Asegura que las columnas se coloquen en fila por defecto */
    margin: 50px; /* Ajusta el margen según sea necesario */
}

span{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.icon-text {
    display: flex;
    align-items: center;
}
.icon-text img {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

img{
    width: 15;
    height: 15;
}
.columna-izquierda {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columna-derecha {
    width: 20%;
    padding: 10px;
    background-color: white;
    border-radius: 10px; /* Esquinas redondeadas */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Textareas */
.textarea-izquierda, .textarea-derecha {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 10px;
    border: none; /* Quitar los bordes */
    border-radius: 5px; /* Opcional: esquinas redondeadas para los textarea */
    background: none;
}

/* Contenedor de botones */
.contenedor-botones {
    margin-top: 100px; /* Separación de 1000px entre el textarea y los botones */
    text-align: center;
}

/* Botones */
.botones {
    display: flex;
    justify-content: center; /* Centrar los botones */
    gap: 20px; /* Espacio entre los botones */
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    justify-content: center;
    border: 1px solid #0A3871;
    border-radius: 24px; /* Esquinas redondeadas de los botones */
    width: 150px; /* Ajusta el ancho según sea necesario */
    height: 40px; /* Ajusta la altura según sea necesario */
    cursor: pointer;
}

.encriptar {
    background: #0A3871;
    color: white;
}

.desencriptar {
    background: #D8DFE8;
    color: #0A3871;
}

.limpiar {
    background: #D8DFE8;
    color: #0A3871;
}

.encriptar:hover {
    background-color: #0056b3;
}

.desencriptar:hover {
    background-color: #0056b3;
}

.limpiar:hover {
    background-color: #0056b3;
}

.copiar:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
}

.sinNegrilla {
    font-weight: normal;
    text-align: center;
}

/* Imagen */
.imagen {
    width: 100%;
    height: auto;
}

/* Responsive */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .columna-izquierda {
        width: 100%;
        margin-bottom: 20px; /* Espacio entre columnas en pantallas pequeñas */
    }

    .columna-derecha {
        width: 100%;
    }

    .botones {
        margin-top: 50px; /* Ajusta la separación para pantallas pequeñas */
    }

    button {
        width: 100%; /* Botones ocupan el ancho completo en pantallas pequeñas */
        height: auto; /* Ajusta la altura en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .botones {
        flex-direction: column; /* Botones apilados en pantallas muy pequeñas */
        gap: 10px;
    }

    button {
        width: auto; /* Ajuste de ancho para botones apilados */
    }
}
